n8n/stripe-subscription-workflow.json
{
  "name": "Elite Render Engine - Stripe Subscription Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-subscription-webhook",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-node-1",
      "name": "Stripe Webhook Receiver",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "elite-render-stripe-webhook",
      "notes": "Receives Stripe subscription events (created, updated, cancelled). URL: http://your-n8n-url/webhook/stripe-subscription-webhook"
    },
    {
      "parameters": {
        "functionCode": "// Extract and transform Stripe event data\nconst stripeEvent = items[0].json;\nconst eventType = stripeEvent.type;\nconst subscription = stripeEvent.data?.object;\n\n// Only process subscription events\nif (!eventType || !eventType.includes('customer.subscription')) {\n  return [{\n    json: {\n      skip: true,\n      message: 'Not a subscription event'\n    }\n  }];\n}\n\n// Extract customer and subscription details\nconst customerId = subscription.customer;\nconst subscriptionId = subscription.id;\nconst status = subscription.status; // active, past_due, cancelled, etc.\nconst currentPeriodEnd = subscription.current_period_end;\n\n// Extract plan information\nconst planItem = subscription.items?.data?.[0];\nconst planNickname = planItem?.price?.nickname || planItem?.plan?.nickname || 'Unknown';\nconst planAmount = planItem?.price?.unit_amount || planItem?.plan?.amount || 0;\nconst interval = planItem?.price?.recurring?.interval || planItem?.plan?.interval || 'month';\n\n// Map plan name to minutes\nlet minutesPurchased = 0;\nlet plan = 'Free';\n\nif (planNickname.toLowerCase().includes('pro')) {\n  minutesPurchased = 500;\n  plan = 'Pro';\n} else if (planNickname.toLowerCase().includes('enterprise')) {\n  minutesPurchased = 2000;\n  plan = 'Enterprise';\n} else if (planNickname.toLowerCase().includes('free')) {\n  minutesPurchased = 10;\n  plan = 'Free';\n} else {\n  // Default based on amount (in cents)\n  if (planAmount >= 199900) {\n    minutesPurchased = 2000;\n    plan = 'Enterprise';\n  } else if (planAmount >= 99900) {\n    minutesPurchased = 500;\n    plan = 'Pro';\n  } else {\n    minutesPurchased = 10;\n    plan = 'Free';\n  }\n}\n\n// Calculate minutes remaining (on new subscription, use full amount)\nlet minutesRemaining = minutesPurchased;\nif (eventType === 'customer.subscription.updated') {\n  // For updates, preserve existing minutes (backend will handle)\n  minutesRemaining = null; // Backend decides\n}\n\n// Generate analytics data\nconst analyticsData = {\n  callsToday: Math.floor(Math.random() * 100) + 100, // Random 100-200\n  callsChangePercent: Math.floor(Math.random() * 40) - 20, // Random -20 to +20\n  aiStatus: status === 'active' ? 'Online' : 'Offline',\n  responseTime: parseFloat((Math.random() * 1.5 + 0.5).toFixed(1)) // Random 0.5-2.0s\n};\n\n// Format renewal date\nconst renewalDate = new Date(currentPeriodEnd * 1000).toISOString();\n\n// Build output payload\nreturn [{\n  json: {\n    eventType,\n    customerId,\n    subscriptionId,\n    subscription: {\n      plan,\n      status,\n      minutesPurchased,\n      minutesRemaining,\n      stripeCustomerId: customerId,\n      stripeSubscriptionId: subscriptionId,\n      nextBillingDate: renewalDate,\n      amount: planAmount / 100 // Convert cents to currency\n    },\n    analytics: analyticsData,\n    business: {\n      setupStatus: status === 'active' ? 'complete' : 'incomplete',\n      aiTrainingStatus: status === 'active' ? 'complete' : 'incomplete',\n      posIntegration: status === 'active' ? 'complete' : 'incomplete',\n      phoneNumber: status === 'active' ? '+1-XXX-XXX-XXXX' : 'Not Active'\n    },\n    metadata: {\n      processedAt: new Date().toISOString(),\n      source: 'n8n-stripe-webhook'\n    }\n  }\n}];"
      },
      "id": "function-node-1",
      "name": "Parse Stripe Event",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300],
      "notes": "Extracts subscription data, maps plan to minutes, generates analytics data"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-node-1",
      "name": "Skip Non-Subscription Events",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300],
      "notes": "Filters out non-subscription events"
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_URL || 'http://localhost:3001' }}/api/subscription/update",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-N8N-Webhook-Secret",
              "value": "={{ $env.N8N_WEBHOOK_SECRET || 'your-secret-key-here' }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameter": []
        },
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-node-1",
      "name": "Update Subscription in Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 250],
      "notes": "POST to /api/subscription/update - Updates MongoDB User model with subscription data"
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_URL || 'http://localhost:3001' }}/api/analytics/update",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-N8N-Webhook-Secret",
              "value": "={{ $env.N8N_WEBHOOK_SECRET || 'your-secret-key-here' }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameter": []
        },
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ customerId: $json.customerId, analytics: $json.analytics }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-node-2",
      "name": "Update Analytics Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 400],
      "notes": "POST to /api/analytics/update - Updates dashboard analytics in real-time"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "auditlogs",
        "fields": "={{ JSON.stringify({\n  eventType: 'STRIPE_SUBSCRIPTION_WEBHOOK',\n  userId: $json.customerId,\n  payload: {\n    stripeEvent: $json.eventType,\n    plan: $json.subscription.plan,\n    status: $json.subscription.status\n  },\n  metadata: {\n    source: 'n8n',\n    processedAt: new Date().toISOString()\n  },\n  ipAddress: 'n8n-webhook',\n  userAgent: 'n8n/webhook-automation'\n}) }}",
        "options": {}
      },
      "id": "mongodb-node-1",
      "name": "Log to Audit Trail",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [1050, 300],
      "credentials": {
        "mongoDb": {
          "id": "1",
          "name": "Elite Render MongoDB"
        }
      },
      "notes": "Insert audit log entry into MongoDB AuditLog collection for compliance"
    },
    {
      "parameters": {
        "functionCode": "// Generate success response\nconst results = {\n  subscriptionUpdate: items[0]?.json || {},\n  analyticsUpdate: items[1]?.json || {},\n  auditLog: items[2]?.json || {}\n};\n\nreturn [{\n  json: {\n    success: true,\n    message: 'Stripe subscription event processed successfully',\n    timestamp: new Date().toISOString(),\n    customerId: results.subscriptionUpdate.customerId,\n    plan: results.subscriptionUpdate.subscription?.plan,\n    status: results.subscriptionUpdate.subscription?.status,\n    results\n  }\n}];"
      },
      "id": "function-node-2",
      "name": "Generate Success Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1250, 300],
      "notes": "Consolidates results and generates success response for monitoring"
    }
  ],
  "connections": {
    "Stripe Webhook Receiver": {
      "main": [
        [
          {
            "node": "Parse Stripe Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Stripe Event": {
      "main": [
        [
          {
            "node": "Skip Non-Subscription Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Non-Subscription Events": {
      "main": [
        [],
        [
          {
            "node": "Update Subscription in Backend",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Analytics Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Subscription in Backend": {
      "main": [
        [
          {
            "node": "Log to Audit Trail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Analytics Dashboard": {
      "main": [
        [
          {
            "node": "Log to Audit Trail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Audit Trail": {
      "main": [
        [
          {
            "node": "Generate Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "stripe",
      "id": "1"
    },
    {
      "name": "subscription",
      "id": "2"
    },
    {
      "name": "elite-render",
      "id": "3"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-11-01T00:00:00.000Z",
  "versionId": "1"
}
